<% provide(:ProductOfTheWeek, 'active') %>
<% provide(:title, 'Produkt der Woche') %>

<div class="container">

  <div class="blog-header">
    <h1 class="blog-title">Produkt der Woche</h1>
    <p class="lead blog-description">Jede Woche das beste Produkt aus der Start Up Welt</p>
  </div>

  <% @product_of_the_weeks.each do |product_of_the_week| %>

  <div class="row">

    <div class="col-sm-3 blog-main">
      <div class="blog-post">
        <h2 class="blog-post-title">&nbsp;</h2>
        <p><img src="<%= product_of_the_week.picture %>"></p>
      </div><!-- /.blog-post -->
    </div><!-- /.blog-main -->

    <div class="col-sm-2 blog-main">
      <div class="blog-post">
        &nbsp;
      </div><!-- /.blog-post -->
    </div><!-- /.blog-main -->

    <div class="col-sm-7 blog-main">

        <div class="blog-post">

          <h2 class="blog-post-title"><%= product_of_the_week.name %></h2>
          <p class="blog-post-meta"><%= product_of_the_week.date %></p>
          <p><%= product_of_the_week.description %></p>
          <p><a href="<%= product_of_the_week.link %>"><%= product_of_the_week.link %></a>
          </p>
          <p>
            <% product_of_the_week.published %>
            <%= link_to 'Show', product_of_the_week %><br>
            <%= link_to 'Edit', edit_product_of_the_week_path(product_of_the_week) %><br>
            <%= link_to 'Destroy', product_of_the_week, method: :delete, data: { confirm: 'Are you sure?' } %>
          </p>

        </div><!-- /.blog-post -->


    </div><!-- /.blog-main -->

  </div><!-- /.row -->

  <hr>

  <% end %>

  <nav>
    <ul class="pager">
      <li><a href="#">Previous</a></li>
      <li><a href="#">Next</a></li>
    </ul>
  </nav>

  <p><%= link_to 'New Product of the week', new_product_of_the_week_path %></p>

</div><!-- /.container -->


