<% provide(:ProductOfTheWeek, 'active') %>
<% provide(:title, 'Produkt der Woche') %>

<div class="container">

  <div class="blog-header">
    <h1 class="blog-title">Start Up Produkt der Woche</h1>
  </div>

  <hr>

  <% @product_of_the_weeks.each do |product_of_the_week| %>

  <div class="row">

    <div class="col-sm-11 blog-main">
      <div class="blog-post">
        <h2 class="blog-post-title"><%= product_of_the_week.name %></h2>
        <p class="blog-post-meta"><%= product_of_the_week.date.strftime("%d.%m.%Y")  %></p>
        <div class="media">
          <div class="media-left">
              <%= image_tag(product_of_the_week.photo.url(:small), :class => "media-object") %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">
              <a href="<%= product_of_the_week.link %>"><%= product_of_the_week.link %></a>
            </h4>

            <%= product_of_the_week.description %>
          </div>
        </div>

        <% if user_signed_in? %>
          <p>
            <% product_of_the_week.published %>
            <%= link_to 'Show', product_of_the_week %><br>
            <%= link_to 'Edit', edit_product_of_the_week_path(product_of_the_week) %><br>
            <%= link_to 'Destroy', product_of_the_week, method: :delete, data: { confirm: 'Are you sure?' } %>
          </p>
        <% end %>

      </div><!-- /.blog-post -->
    </div><!-- /.blog-main -->
  </div><!-- /.row -->

  <hr>

  <% end %>

  <% if user_signed_in? %>
    <p><%= link_to 'New Product of the week', new_product_of_the_week_path %></p>
  <% end %>
  <p>
    &nbsp;
  </p>

</div><!-- /.container -->