<% provide(:ProductOfTheWeek, 'active') %>
<% provide(:title, 'Produkt der Woche') %>

<div class="container">

  <div class="blog-header">
    <h1 class="blog-title">Produkt der Woche</h1>
    <p class="lead blog-description">Jede Woche das beste Produkt aus der Start Up Welt</p>
  </div>

  <div class="row">

    <div class="col-sm-12 blog-main">

      <% @product_of_the_weeks.each do |product_of_the_week| %>

        <div class="blog-post">

          <h2 class="blog-post-title"><%= product_of_the_week.name %></h2>
          <p class="blog-post-meta"><%= product_of_the_week.date %></p>
          <p class="blog-post-meta"><%= product_of_the_week.published %></p>
          <p><%= product_of_the_week.description %></p>
          <p><%= product_of_the_week.picture %><br>
            <a href="<%= product_of_the_week.link %>"><%= product_of_the_week.link %></a>
          </p>
          <p>
            <%= link_to 'Show', product_of_the_week %><br>
            <%= link_to 'Edit', edit_product_of_the_week_path(product_of_the_week) %><br>
            <%= link_to 'Destroy', product_of_the_week, method: :delete, data: { confirm: 'Are you sure?' } %>
          </p>

        </div><!-- /.blog-post -->

      <% end %>

      <p><%= link_to 'New Product of the week', new_product_of_the_week_path %></p>
      <nav>
        <ul class="pager">
          <li><a href="#">Previous</a></li>
          <li><a href="#">Next</a></li>
        </ul>
      </nav>

    </div><!-- /.blog-main -->

    <!--<div class="col-sm-3 col-sm-offset-1 blog-sidebar">-->
      <!--<div class="sidebar-module sidebar-module-inset">-->
        <!--<h4>About</h4>-->
        <!--<p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>-->
      <!--</div>-->
      <!--<div class="sidebar-module">-->
        <!--<h4>Archives</h4>-->
        <!--<ol class="list-unstyled">-->
          <!--<li><a href="#">March 2014</a></li>-->
          <!--<li><a href="#">February 2014</a></li>-->
          <!--<li><a href="#">January 2014</a></li>-->
          <!--<li><a href="#">December 2013</a></li>-->
          <!--<li><a href="#">November 2013</a></li>-->
          <!--<li><a href="#">October 2013</a></li>-->
          <!--<li><a href="#">September 2013</a></li>-->
          <!--<li><a href="#">August 2013</a></li>-->
          <!--<li><a href="#">July 2013</a></li>-->
          <!--<li><a href="#">June 2013</a></li>-->
          <!--<li><a href="#">May 2013</a></li>-->
          <!--<li><a href="#">April 2013</a></li>-->
        <!--</ol>-->
      <!--</div>-->
      <!--<div class="sidebar-module">-->
        <!--<h4>Elsewhere</h4>-->
        <!--<ol class="list-unstyled">-->
          <!--<li><a href="#">GitHub</a></li>-->
          <!--<li><a href="#">Twitter</a></li>-->
          <!--<li><a href="#">Facebook</a></li>-->
        <!--</ol>-->
      <!--</div>-->
    <!--</div>&lt;!&ndash; /.blog-sidebar &ndash;&gt;-->

  </div><!-- /.row -->

</div><!-- /.container -->


